<% include partials/header %>

<div class="jumbotron" style="text-align:center; margin-top:100px;">
    <h1 style="padding-bottom:30px;">Welcome to BlogApp</h1>
    <p style="padding-bottom:20px;">Create a blog post</p>
    <a href="/blogpost" class="btn btn-success btn-lg">Add post</a>
</div>

<% include partials/footer %>